<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Month Quiz</title>
</head>
<body>
    <h1>{{ question }}</h1>
    <form action="/answer" method="post">
        {% for i in choices %}
            <div>
                <input type="radio" name="choice" value="{{ i }}">{{i}}
            </div> 
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>


            <!-- <div>
                <input type="radio" id="choice{{ loop.index }}" name="choice" value="{{i}}">
                <label for="choice{{ loop.index }}">{{i}}</label> -->
            <!-- </div> -->